
.low-main{
    background-color: #d0cdcd;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
    border: none;
    padding-bottom: 10px;
}
.purchased-product-container{
    width: 90%;
    height: 20%;
    background-color: white;
    display: flex;
    margin: auto;
    /* border: 2px solid black; */
    margin-bottom: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px ;
    border-radius: 5px;
}
.purchased-product-container img{
    width: 80px;
    height: 80px;
    object-fit: cover;

}
.plus, .minus{
    /* background-color: yellow; */
    padding: 20px 25px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.plus{
    background-color: green;
}
.minus{
    background-color: red;
}
