*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
.container{
    width: 100%;
    margin: 0 auto;
 
   
}
#navbar{
    background-color: coral;
    height: 5vh;
    position: fixed;
    width: 100%;
    /* z-index: ; */
    z-index: 1;
}
.navbar-flex{
    display: flex;
    justify-content: space-around;
}
.navbar-items{
    display: flex;
    justify-content: end;
    width: 80%;
    align-items: center;
    height: 5vh;
    gap: 50px;
}
.navbar-items li{
    list-style: none;
  
    
}
.navbar-child-items{
    position: absolute;
    display: none;
    
}
.navbar-child:hover  .navbar-child-items{
    display: block;
    background-color: coral;
    /* transition: 2s; */
}
.navbar-items li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar-items li a i{
    padding-left: 10px;
    padding-right: 10px;
  
}
.logo{
    height: 5vh;
}
.navbar-child-items li{
    padding:  10px ;
    background-color: coral;
   
}
.navbar-child .navbar-child-items{
    text-align: center;
    background-color:coral ;
   
}
.navbar-items li:hover{
    color: blue;
}
.navbar-child-items li{
    text-align: left;
 
 
}
.navbar-child-items{
    /* padding-right: 30px;
    padding-left: -10px; */
    padding-top: 10px;

}
.navbar-items li a:hover{
    color: blueviolet;
}
.navbar-child-items li:hover{
    background-color: blueviolet;
 
    
}
.navbar-child-items li a:hover{
    color: white;
} 





.last-page{
    display: flex;
    justify-content: space-around;
    line-height: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.881);
    list-style: none;
    gap: 20px;
    font-size: 18px;
  
}
.second ul{
    list-style: none;
   
}
.second ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
 
}
.second ul li{
    padding: 4px;
}
.third ul{
    list-style: none;
}
.third ul li{
    color: white;
}
.first p{
    color: white;
}
.third li{
    display: inline-block;
    padding: 20px;
    justify-content: start;
}
.second ul li a:hover{
    text-decoration: underline;
}
.second ul li i{
    padding: 0 4px;
}
.third ul li:hover{
    color: #FEE440;
    cursor: pointer;
}
.navbar-items .navbar-child #symbol:hover{
    rotate: 180deg;
    transition: 1s;
}
#symbol{
    transition: 0.1s;
}