<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//css/main.css">
    <link rel="stylesheet" href="..//fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="..//css/basket.css">

</head>
<body>
    <!-- navbar -->
    <nav id="navbar">
        <div class="container navbar-flex">
            <img src="media/media/logo.png" alt="" class="logo">
            <ul class="navbar-items">
                <li><a href="../index.html"  ><i class="fas fa-home"></i> home</a></li>
                <li class="navbar-child"><a href="#" ><i class="fa-solid fa-bowl-food"></i> product <i id="symbol" class="fa-solid fa-caret-up shape"></i>
                    <ul class="navbar-child-items">
                        <li><a href="ice-cream.html"><i class="fa-solid fa-ice-cream"></i>ice-cream</a></li>
                        <li><a href="chocolate.html"><i class="fa-solid fa-cookie"></i>chocolate</a></li>
                        <li><a href="drink.html"><i class="fa-solid fa-bottle-water"></i>drink</a></li>
                    </ul>
                </a></li>
                <li><a href="basket.html" ><i class="fa-solid fa-cart-shopping"></i>  basket</a></li>
                <li><a href="about.html" ><i class="fa-regular fa-address-card"></i>  about</a></li>
            </ul>
        </div>
    </nav>
    <!-- navbar -->

    <div class="low-main">
        <!-- <div class="purchased-product-container">
            <img src="../media/media/ice-cream/03.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
            <div class="navigation">
                <span class="plus">+</span>
                <span class="minus">-</span>
            </div>
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/chocolate/02.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
            
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/chocolate/03.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/chocolate/09.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/chocolate/05.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/drink/09.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
        </div>
        <div class="purchased-product-container">
            <img src="../media/media/drink/03.png" alt="">
            <p>name: ice-cream</p>
            <p>price: 1500</p>
            <p>count: 3</p>
            <p>total-price: 45000</p>
        </div> -->
    </div>
<!-- 
    footer -->
    <div class="last-page">
        <div class="first">
            <img src="../media/media/logo.png" alt="" class="logo">
            <p>Bizning do'kon: Muzqaymoq, Shokaland va ichimliklar</p>
        </div>
        <div class="second">
            <ul class="navbar-child-items-last">
                <li><a href="#"  ><i class="fas fa-home"></i> Bosh sahifa</a></li>
                <li><a href="#"><i class="fas fa-home"></i> Menyu</a></li>
                <li><a href="#" ><i class="fa-regular fa-address-card"></i>  Biz haqimizda</a></li>
                <li><a href="#"><i class="fa-solid fa-cookie"></i>Aloqa</a></li>
            </ul>
        </div>

    </div>

    <script src="..//script/basket.js"></script>
</body>
</html>