<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/css/all.css">
</head>
<body>
    <nav id="navbar">
        <div class="container navbar-flex">
            <img src="../media/media/logo.png" alt="" class="logo">
            <ul class="navbar-items">
                <li><a href="../index.html"  ><i class="fas fa-home"></i> home</a></li>
                <li class="navbar-child"><a href="#" ><i class="fa-solid fa-bowl-food"></i> product <i id="symbol" class="fa-solid fa-caret-up shape"></i>
                    <ul class="navbar-child-items">
                        <li><a href="ice-cream.html"><i class="fa-solid fa-ice-cream"></i>ice-cream</a></li>
                        <li><a href="chocolate.html"><i class="fa-solid fa-cookie"></i>chocolate</a></li>
                        <li><a href="drink.html"><i class="fa-solid fa-bottle-water"></i>drink</a></li>
                    </ul>
                </a></li>
                <li><a href="basket.html" ><i class="fa-solid fa-cart-shopping"></i>  basket</a></li>
                <li><a href="about.html" ><i class="fa-regular fa-address-card"></i>  about</a></li>
            </ul>
        </div>
    </nav>
    <!-- ice-cream products -->

    <div class="product">
        <!-- <div class="product-item">
            <img src="../media/media/ice-cream/01.png" alt="" class="product-image">
            <div class="product-data">
                <p class="product-name">name: Plombir</p>
                <p class="product-price">price: 15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
        <div class="product-item">
            <img src="../media/media/ice-cream/01.png" alt="" class="product-image">
            <div class="product-data">
                <p class="product-name">name: Plombir</p>
                <p class="product-price">price: 15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
        <div class="product-item">
            <img src="../media/media/ice-cream/01.png" alt="" class="product-image">
            <div class="product-data">
                <p class="product-name">name: Plombir</p>
                <p class="product-price">price: 15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
        <div class="product-item">
            <img src="../media/media/ice-cream/01.png" alt="" class="product-image">
            <div class="product-data">
                <p class="product-name">name: Plombir</p>
                <p class="product-price">price: 15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
        <div class="product-item">
            <img src="../media/media/ice-cream/01.png" alt="" class="product-image">
            <div class="product-data">
                <p class="product-name">name: Plombir</p>
                <p class="product-price">price: 15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div> -->
    </div>       
  

    <!-- ice-cream end -->
 
    <!-- footer -->
    <div class="last-page">
        <div class="first">
            <img src="../media/media/logo.png" alt="" class="logo">
            <p>Bizning do'kon: Muzqaymoq, Shokaland va ichimliklar</p>
        </div>
        <div class="second">
            <ul class="navbar-child-items-last">
                <li><a href="#"  ><i class="fas fa-home"></i> Bosh sahifa</a></li>
                <li><a href="#"><i class="fas fa-home"></i> Menyu</a></li>
                <li><a href="#" ><i class="fa-regular fa-address-card"></i>  Biz haqimizda</a></li>
                <li><a href="#"><i class="fa-solid fa-cookie"></i>Aloqa</a></li>
            </ul>
        </div>
        <div class="third">
            <ul>
                <li><i class=""></i> Facebook</li>
                <li><i class=""></i> Instagramm</li>
                <li><i class=""></i> Twitter</li>
            </ul>
        </div>
    </div>

    <script src="../script/ice-cream.js"></script>
    <script src="../script/count.js"></script>
</body>
</html> 